.head
{ 
    width: 100%; 
    float: left;
    text-align: center;
    
}
.head 
{
    color: white;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}
.head p
{
    color: white;
    margin-top: 40px;
}
.head h1
{
    color: #fff;
}
.head button
{
    float: left;
    text-align: center;
    width: 100%;
    padding: 12px;
}
.con1
{
 width: 18%;
 margin: auto;
 
}
.btn1
{
    margin-right: 20px;
    float: left;
    margin-top: 25px;
    /* background-color: yellow; */
}

.btn2 {
    float: left;
    margin-top: 25px;
}
.main1
{
    width: 100%;
    float: left;
    height: 570px;
    text-align: center;
    padding-top: 175px;
    background-image:url(img/hero-bg.jpg);
    position: relative;
    background-attachment: fixed;
}

.main1::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#000000b0;
}

.btn1 button {
    background: transparent;
    color: #000;
    border: 3px solid#03c4eb;
    color: #fff;
}
.menu
{
   
width: 100%;
   
float: left;
   
padding: 20px 0;
   
background-color: #0d0d0d;
}
.logo
{
    width: 30%;
    text-align: center;
    float: left;
    color: black;
}
.menu img
{
    height: 45px;
    text-align: center;
    }
.con{
    width: 1170px;
    margin: auto;
} 
.list
{
    width: 70%;
    float: left;
    color: white;
}   


.list li{
    float: left;
    list-style: none;
    margin-right: 22px;

}
.line1
{
    height: 3px;
    width: 50px;
    background-color: #03c4eb;
    margin: 0px auto;
}


.about 
{margin-top: 65px;

/* float: left; */

text-align: center;

width: 100%;
font-family: "Raleway", sans-serif;
color: #333;
}
.con2
{
    width: 70%;
    margin: auto;
    text-align: center;
    
    
}
.main2
{
    width: 100%;
    float: left;
}
.p1 p
{
    font-size: 18px;
}
.image1
{
    width: 50%;
    float: left;
}
.image1 img
{
    height: 343px;
    margin-top: 40px;
    width: 100%;
    float: left;
}

.p1
{
    width: 100%;
    margin-top: 40px;
    color: #333333c9;
    
}
.p2 
{
    width: 47%;
    text-align: left;
    
    margin-top: 17px;
    float:left;
    margin-left: 30px;
}
.p2 h2
{
    font-family:"Raleway", sans-serif;
    font-size: 27px;
    color: #333;
    font-weight: 700;
    
}
.p2 p
{
    margin-top: -30px;
    font-size: 18px;
    color: #333333c9;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    font-weight: 350;
}
.main3
{
    width: 100%;
    float: left;
    margin-top: 65px;
}
.con3
{
    width: 70%;
    margin:auto;
    text-align: center;
    
    
}
h1
{
   width: 100%;
   font-family:"Raleway", sans-serif ;
   color: #333;
}
.services p
{
   width: 100%;
   font-family:"Raleway", sans-serif;
   color: #333333c9;
   font-size: 23px;
}
.t1 
{
    max-width:33.33%;
    float: left;
    
}
.lorem
{
    text-align: left;
    margin-left: 51px;
}


.t1 i
{
    float: left;
    margin-top: 26px;
}
.t2 
{
    max-width:33.33%;
    float: left;
    margin-top: 30px;
}
.t2 i
{
    float: left;
    margin-top: 23px;
}
.t2 lorem
{
    text-align: left;
    margin-left: 51px;
}
.con4
{
    width: 70%;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 9;
    color: #fff;
}
.main4
{
    width: 100%;
    float: left;
    margin-top: 65px;
    background: url(img/subscribe-bg.jpg);
    padding: 143px 0;
    position:relative;
    background-attachment: fixed;
}
.main4:after
{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    background: #0000004f;
}
.subscribe
{
    width:70%;
    text-align: left;
    float: left;
    color: #fff;
}
.btn3
{
    width: 30%;
    float: left;
    margin-top: 54px;
    transition: 0.5s;
}


.subscribe h2 {
    color: #fff;
}

.btn3 button {
    background-color: rgb(3, 196, 235);
    color: rgb(255, 255, 255);
    font-family: Raleway, sans-serif;
    padding: 10px 38px;
    font-size: 14px;
    border: none;
    margin-left: 72px;
}

.subscribe p {
    color: #fff;
}
.main5
{
    width: 100%;
    float: left;
    margin-top: 70px;
}
.con5
{
    width: 70%;
    margin: auto;
    text-align: center;
}
h2
{
    font-family:"Raleway", sans-serif ;
    color: #333;
    font-weight: 700;
}
p
{
    font-size: 23px;
    
    color: #333333c9;
    font-family: "Open Sans", sans-serif;
}

.team-mamber p {
    font-size: 17px;
}
.lorem p
{
    font-size: 20px;
    color: #333333c9;
    font-family: "Open Sans", sans-serif;
}

.t3
{
  font-family: "Open Sans", sans-serif;
}
.portfolio img 
{
    width: 30%;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
}

.client1
{
  font-size: 30px;
  color: #03c4eb;
}
.hobby
{
    font-size: 20px;
}
.team-img 
{
    width: 25%;
    float: left;
}
.team-img img , .team-img2 img
{
    max-width: 80%;
    border-radius: 50%;
    border:solid 4px 0 white;
}
.about-client 
{
  width: 75%;
  float: left;
  text-align: center;
  margin-top: 16px;
  background: #fff;
  margin-left: 0px;
}
.team-img2
{
    float: right;
    width: 25%;
    margin-top: 0px;
}
.about-client2
{
    width: 69%;
    text-align: center;
    /* margin-top: 100px; */
    position: relative;
    z-index: 9;
    background-color: white;
    padding: 30px 30px;
    margin-top: 40px;
}
.client-id
{
    float: left;
    margin-top: 50px;
}
.main6
{
    width: 100%;
    float: left;
    margin-top: 70px;
    background-color:#0000000d;
    padding-top: 50px;
}
.con6
{
    width: 70%;
    margin: auto;
    text-align: center;
}
.about-client p 
{
    color: #333333c9;
    font-family: "Open Sans", sans-serif;
    padding: 30px;
    font-size: 16px;
}    
.p3
{
    color: #333333c9;
    font-family: "Open Sans", sans-serif;
    padding: 0px;
    /* margin-top: 1px; */
    margin-bottom: 37px;
    text-align: left;
    font-size: 16px;
}    
.main7
{
    width: 100%;
    float: left;
    padding: 50px 0;
}
.con7
{
    width: 70%;
    margin: auto;
    text-align: center;
}
.team-mamber
{
    width: 25%;
    float: left;
}
.team-mamber img
{
    height: 238px;
    max-width: 118%;
    border-radius: 70%;
    margin-top: 27px;
}
input
{
    width: 74%;
    height: 40px;
}
.detail, .detail1 
{
    width: 75%;
    float: right;
    margin-top: 13px;
    text-align: left;
}
.name, .EMAIL
{
    width: 25%;
    float: left;
}
.name h2
{
    text-align: right;
    margin-right: 14px;
}

.c {
    float: left;
    width: 100%;
}



textarea
{
    margin: 0px;
     width: 588px;
      height: 102px;
}
.main8
{
    width: 100%;
    float: left;
    background-color: #111;
    padding: 43px 0;
}
.con8
{
    width: 70%;
    margin: auto;
    text-align: center;
}
.last
{
    color: #fff;
    font-size: 16px;
}
.last1
{
    margin-top: 11px;
    color: #fff;
    font-size: 14px;
}
a
{
    color:#03c5ec;
    
    text-decoration: none;
}
 .detail2 
{
    
    float: right;
    margin-top: 44px;
    text-align: right;
    margin-right: 229px;
}
.detail2 button
{
    color: #fff;
    background-color: #03c4eb;
    width: 144px;
    height: 41px;
    border: 0;
    font-size: 17px;
    margin-bottom: 50px;
}
Body
{
margin:0%;
}
@media only screen and (max-width:1024px) {
    .con1 {
        width: 25%;
        margin: auto;
    }
    .list {
        width: 71%;
        float: left;
        color: white;
    }
    .logo {
        width: 22%;
        text-align: center;
        float: left;
        color: black;
    }
    .list li {
        float: left;
        list-style: none;
        margin-right: 12px;}
        .image1 img {
           
            margin-top: 40px;
            width: 200%;
            height: auto;
            float: left;
        }
        .p2 {
            width: 96%;
            text-align: left;
            margin-top: 17px;
            float: left;
            margin-left: 30px;
        }
        .t2 {
            max-width: 49%;
            float: left;
            margin-top: 0px;
        }
        .t1 {
            max-width: 49%;
            float: left;
        }
        .subscribe {
            width: 62%;
            text-align: left;
            float: left;
            color: #fff;
        }
        .btn3 {
            width: 38%;
            float: left;
            margin-top: 54px;
            transition: 0.5s;
        }
        .portfolio img {
            width: 28%;
            float: left;
            margin-right: 30px;
            margin-top: 30px;
        }
        .portfolio {
            margin-left: 20px;
        }
        .about-client p br {
            display: none;
        }
        .about-client {
            width: 75%;
            float: left;
            text-align: center;
            margin-top: 24px;
            background: #fff;
            margin-left: 0px;
            width: 509px;
            height: 161px;
            margin-left: 27px;
        }
        .about-client p {
            color: #333333c9;
            font-family: "Open Sans", sans-serif;
            padding: 18px;
            font-size: 16px;
        }
        .about-client2 {
            width: 69%;
            text-align: center;
            margin-top: 100px;
            position: relative;
            z-index: 9;
            background-color: white;
            padding: 19px 16px;
            margin-top: 13px;
        }   
        .about-client2 .p3 p br {
            display: none;
        }     
        .team-mamber img {
            height: auto;
            max-width: 100%;
            border-radius: 70%;
            margin-top: 27px;
        }
        .team-mamber {
            width: 34%;
            float: left;
            margin-left: 86px;
        }
        textarea {
            width: 399px;
            height: 107px;
        }
        .detail2 {
            float: left;
            margin-top: 44px;
            text-align: right;
            margin-left: 195px;
        }
  }

@media only screen and (max-width: 768px) {
  
    .con1 {
        width: 33%;
        margin: auto;
    }

    .con {
        width: 100%;
        margin: auto;
    }

    .logo {
        width: 100%;
        text-align: center;
        float: left;
        color: black;


    }

    .image1 {
        width: 100%;
        float: left;
    }
    .image1 img {
        margin-top: 40px;
        width: 100%;
        height: auto;
        float: left;
    }
    .list {
        width: 100%;
        float: left;
        color: white;
    }
    .list li {
        float: left;
        list-style: none;
        margin-right: 16px;
    }
    .p2 {
        width: 100%;
        text-align: left;
        margin-top: 17px;
        float: left;
        margin-left: 30px;
    }
    .t1 {
        max-width: 67%;
        float: left;
    }
    .t2 {
        max-width: 67%;
        float: left;
        margin-top: 30px;
    }
    .subscribe {
        width: 50%;
        text-align: left;
        float: left;
        color: #fff;
    }
    .btn3 {
        width: 50%;
        float: left;
        margin-top: 54px;
        transition: 0.5s;
    }
    .subscribe p {
        color: #fff;
        font-size: 21px;
    }
  
    .main4 {
        width: 100%;
        float: left;
        margin-top: 65px;
        background: url(img/subscribe-bg.jpg);
            background-attachment: scroll;
            background-size: auto;
        background-attachment: scroll;
        background-size: auto;
        padding: 69px 0;
position: relative;
background-attachment: fixed;
background-size: 169% 100%;}
    
.portfolio {
        margin-right: -16px;
    }
    .portfolio img {
        width: 27%;
        float: left;
        margin-right: 30px;
        margin-top: 30px;
    }
    .team-img {
        width: 19%;
        float: left;
        margin-top: 19px;
        margin-right: 21px;
    }
    .about-client {
        width: 71%;
        float: left;
        text-align: center;
        margin-top: 16px;
        background: #fff;
        margin-left: 0px;
        padding: 1px 16px;
        height: 124px;
    }
    .team-img {
        width: 19%;
        float: left;
        margin-top: 19px;
        margin-right: 21px;
    }
    .about-client p {
        color: #333333c9;
        font-family: "Open Sans", sans-serif;
        padding: 0px;
        font-size: 13px;
        
    }
    .about-client2 {
        width: 71%;
        float: left;
        text-align: center;
        margin-top: 16px;
        background: #fff;
        margin-left: 0px;
        padding: 1px 16px;
        height: 124px;
    }.team-img2 {
        width: 19%;
        float: right;
        margin-top: 19px;
        margin-left: 21px;
    }
    
    .client1 {
        font-size: 17px;
        color: #03c4eb;
    }
    .hobby {
        font-size: 14px;
    }
    .about-client p br {
        display: none;
    }
    .p3 {
        color: #333333c9;
        font-family: "Open Sans", sans-serif;
        padding: 0px;
        margin-top: 1px;
        margin-bottom: 37px;
        text-align: left;
        font-size: 13px;
    }
    .team-mamber {
        width: 100%;
        float: left;
        margin-left: 0px;
    }
    .team-mamber img {
        max-width: 44%;
        border-radius: 70%;
        margin-top: 27px;
        height: auto;
    }
   

textarea {
	margin: 0px;
	width: 74%;
	height: 102px;
}
    .main1 {
        width: 100%;
        float: left;
        height: 570px;
        text-align: center;
        padding-top: 175px;
        background-image: url(img/hero-bg.jpg);
        position: relative;
       
        background-size: 100% 100%;
    }
  }

 @media only screen and (max-width: 640px) {
    .btn2 {
        float: left;
        margin-top: 25px;
        margin-left: 53px;
    }
    .btn1 {
        margin-right: 0px;
        float: left;
        margin-top: 25px;
       
        margin-left: 53px;
    }
    .list li{
        font-size: 13px;
        margin-right: 12px;
    }
    .portfolio img {
        width: 26%;
    }
    .about-client{
        width: 65%;
        margin-left: 11px;
    }
    .team-img2{
        margin-right: -14px;
    }
    .t1 i {
        float: left;
        margin-top: 26px;
        margin-left: 60px;
    }
    .t2 i {
        margin-left: 60px;
    }
    .lorem {
        text-align: left;
        margin-left: 97px;
        width: 100%;
    }    
 }
 @media only screen and (max-width: 480px){
    .list li {
        font-size: 10px;
        margin-right: 6px;
    }
    .portfolio img {
        width: 24%;
    }
    .about-client {
        width: 100%;
        margin-left: -13px;
    }
    .team-img {
        width: 100%;
        float: left;
        margin-top: 19px;
        margin-right: 21px;
    }
    .about-client p br {
        display: none;
    }
    .team-img2 {
        width: 100%;}

        .about-client2 {
         width: 100%;}
            .p3{
             padding: 12px;
            }
            
        .detail, .detail1 {
            width: 73%;
        }
        input {
            width: 100%;
            height: 40px;
            margin-left:0px;
            margin-top: -20px;
        }
        textarea {
            width: 100%;
            height: 75px;
        }
            .detail, .detail1 {
        width: 73%;
    }
    input {
        width: 100%;
        height: 40px;
        margin-left:0px;
        margin-top: -20px;
    }
    textarea {
        width: 100%;
        height: 75px;
    }
    .name, .EMAIL {
        width: 30%;
        float: left;
    }
    input {
        width: 100%;
        height: 40px;
        margin-left:0px;
        margin-top: -20px;
    }
    textarea {
        width: 100%;
        height: 75px;
    }
    .head button{
        padding:5px;
    }
    .subscribe {
        width: 100%;}
       

 }
 @media only screen and (max-width: 376px){

    .list li {
        font-size: 16px;
        margin-right: 12px;
        float: none;
        text-align: center;
        margin-left: 0px;
         padding: 14px 0;

    }
    .portfolio img {
        width: 70%;
    }
    .subscribe {
        width: 100%;
    }
    .detail2 button {
        margin-left: -130px;
    }
    .lorem {
        text-align: left;
        margin-left: 51px;}
        .t1 i {
            float: left;
            margin-top: 26px;
            margin-left: 13px}
            .t2 i {
                margin-left: 20px;
            }
    .btn1{
        margin-left: 7px;
    }
    .btn2{
        margin-left: 7px;
    }
    .head button{
        padding: 6px;
    }
    .detail, .detail1 {
        width: 73%;
    }
    input {
        width: 100%;
        height: 40px;
        margin-left:0px;
        margin-top: -20px;
    }
    textarea {
        width: 100%;
        height: 75px;
    }
 }
 @media only screen and (max-width:320px){
    .head img {
        width: 185px;
    }
    .btn3 button {
        margin-left: 34px;}

 }